*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    min-height: 100vh;
    background: url('../img/3138862.jpg') no-repeat;
    background-size: cover;
    font-family: 'poppins',serif;
    background-position: center;

}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    /* background-color: transparent; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    position: relative;
    font-size: 16spx;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    text-transform: uppercase;
}
.navbar a::before{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: .3s;
}

.navbar a:hover{
    transition: .3s;
    opacity: .8;
}

.navbar a:hover::before{
    width: 100%;
}

main{
    margin-top: 20vh;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
h1{
    color: #fff;
    font-size: 40px;

}

.mainText{
    margin-bottom: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p{
    color: #fff;
    font-size: 20px;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.btn{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.btn a{
    position: relative;
    background-color: #fff;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 400;
    padding: 10px 30px;
    transition:0.5s;
}

.btn a:hover{
    letter-spacing: 0.25em;
     background: var(--clr);
    box-shadow: 0 0 35px var(--clr);
    color: var(--clr);
 
}

.btn a::before{
    content: "";
    position: absolute;
    inset: 2px;

background-color: #27282c;}

.btn a span{
    position: relative;
    z-index: 1;
}

.btn a i{
    position: absolute;
    inset: 0;
    display: block;
}

.btn a i::before{
    content: "";
    position: absolute;
    top: 0;
    left: 80%;
    height: 4px;
    width: 10px;
    transform: translateX(-50%) skewX(325deg) ;
    background-color: #27282c;
    transition: 0.5s;
}

.btn a:hover i::before{
    width: 20px;
    left: 20%;
}

.btn a i::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 80%;
    height: 4px;
    width: 10px;
    transform: translateX(-50%) skewX(325deg) ;
    background-color: #27282c;
    transition: 0.5s;
}

.btn a:hover i::after{
    width: 20px;
    left: 80%;
}


.aboutUs{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows:  100px 100px 100px;
    /* background-color: #fff; */
    max-width: 80%;
    margin: auto;
    margin-top: 20vh;
    margin-bottom: 20vh;
    justify-content: space-between;
}
.one{
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    color: #fff;
    /* justify-content: center; */
    /* align-items: center; */
}

.two{
    grid-row-start: 3;
    grid-row-end: 4;
    /* grid-column-start:2;
    grid-column-end: 3; */
}

.slides{
    display: flex;
}
.slide1{
    background: url(../img/photo\ 1.jpeg) no-repeat;
    background-size: cover;
    width: 80vh;
    height: 50vh;

}
.slide2{
    background: url(../img/photo2\ .jpeg) no-repeat;
    background-size: cover;
    width: 80vh;
    height: 50vh;

}
.slide3{
    background: url(../img/photo3.jpeg) no-repeat;
    background-size: cover;
    width: 80vh;
    height: 50vh;

}
.slide4{
    background: url(../img/photo4.jpeg) no-repeat;
    background-size: cover;
    width: 80vh;
    height: 50vh;

}
.slides a:hover{
    opacity: 0.8;
    transition: 0.3s;
}
.slides a{
    text-decoration: none;
    display: grid;
    justify-content: start;
    align-items: end;
}
.slides a p{
    margin-bottom: 1vh;
    margin-left: 1vh;
    padding: 1.5vh;
    background-color: #fff;
    color: #27282c;
    border-radius: 20px;
}
.insurance{
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows:  100px 100px 100px 100px 100px;
    margin-top: 15vh;
    margin-bottom: 15vh;
    
}
.insuranceContent{
    display: flex;
    flex-direction: column;
    padding: 5vh;
    background-color: rgb(235, 235, 235);
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 7;
 
}

.insuranceContent h3{
    color: #46474b;
}
.insuranceContent p{
    color: #46474b;
}

.img{
    background:url(../img/photo5.jpg) no-repeat; 
    background-size: cover;
    grid-row-start: 1;
    grid-row-end: 6;
    grid-column-start: 5;
    grid-column-end: 10;
    z-index: -1;
    /* width: 50vh;
    height: 50vh; */
}

.footer{
    background-color: #24262b;
    padding: 70px 0;
}
.containertwo{
    max-width: 1170px;
    margin: auto ;
}
.containertwo ul{
    list-style: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 15px;

}

.footer-col h4{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;

}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;

}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: #bbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #fff;
    padding-left: 10px;
}

.footer-col .social-links a{
    transition: all 0.3s ease;
    display: inline-block;
    height: 40px;
    margin: 0 10px 10px 0;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    text-align: center;
    border-radius: 50%;
    line-height: 40px;
    color: #fff;
}


.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #fff;
}

.center{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
}



.submitBtn {
    width: 40%;
  background-color: #cac7ff;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.submitBtn:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.search-bar{
    width: 100%;
    max-width: 700px;
    background: rgba(255, 255, 255, .2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);

}

.search-bar input{
    width: 100%;
    background: transparent;
    flex: 1;
    outline: none;
    /* border: 0; */
    border: #4a4967 2px solid;
    border-radius: 20px;
    padding: 24px 20px;
    font-size: 20px;
    color: #cac7ff;
    margin-bottom: 20px;
}
::placeholder{
    color: #cac7ff;
}

@media (min-width: 768px) {
  .submitBtn {
    padding: 24px;
  }
}
        

/* Parent background */

/* #1e9bff blue
#6eff3e green 
#ff1867 red
*/


@media(max-width:767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width:574px){
    .footer-col{
        width: 100%;
    }
}
