
html {
    --color: #999;
    --checked-color: #6eff3e;

    --bg-color: #e8e8e8;

    font-family: Arial;
    font-size: 16px;
}


section {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

input,
label {
    cursor: pointer;
    margin-right: 3vh;
    color: #fff;
}

label,
small {
    margin-top: 0.1em;
}

input[type="radio"] {
    height: 1.2rem;
    width: 1.2rem;
    margin-right: 0.5rem;
}

.custom-radio {
    /* hiding browser el */
    appearance: none;
    /* Safari support */
    -webkit-appearance: none;
    border: 0.2rem solid #fff;
    background-color: var(--bg-color);
    border-radius: 50%;
}

/* keyboard navigation focus appearance */
.custom-radio:focus-visible {
    outline-offset: 0;
}

#box-shadow {
    box-shadow: 0 0 0 1px var(--color);
}

#box-shadow:hover {
    border-width: 0;
}

#box-shadow:checked {
    box-shadow: 0 0 0 1px var(--checked-color);
    background-color: var(--checked-color);
    border-width: 0.2rem;
}

#outline {
    outline: 1px solid var(--color);
}

#outline:hover {
    outline-color: var(--checked-color);
}

#outline:checked {
    outline-color: var(--checked-color);
    background-color: var(--checked-color);

    animation: outline-checked;
    animation-duration: 0.1s;
    animation-iteration-count: 4;
    animation-direction: alternate;
    animation-timing-function: linear;
}

.radioBtn{
    margin-top: 20vh;
    display: flex;
    justify-content: center;

}

.containerMain{

    display: flex;
    flex-direction: column;
    align-items: center;
}
.search{
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    justify-content: center;
    align-items: center;
}

.search-bar{
    width: 100%;
    max-width: 700px;
    background: rgba(255, 255, 255, .2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);

}
.search-bar input{
    background: transparent;
    flex: 1;
    outline: none;
    border: 0;
    padding: 5px 5px;
    font-size: 20px;
    color: #cac7ff;
}
::placeholder{
    color: #cac7ff;
}

.dropdown{
    min-width: 15em;
    position: relative;
    margin: 2em;

}

.dropdown *{
    box-sizing: border-box;
}

.select{
    background: #2a2f3b;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #2a2f3b solid;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
}

.select-clicked{
    border: 2px #26489a solid;
    box-shadow: 0 0 0.8em #26489a;
}

.select:hover{
    background: #323741;
}

.caret{
width: 0;
height: 0;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
border-top: 6px solid #fff;
transition: 0.3s;
}

.caret-rotate{
    transform: rotate(180deg);
}

.menu{
    list-style: none;
    padding: 0.2em 0.5em;
    background: #323741;
    border: 1px #363a43 solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    color: #9fa5b5;
    position: absolute;
    border-radius: 0.5em;
    top: 3am;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.2s;
    display: none;
    z-index: 1;

}
.menuTwo{
    list-style: none;
    padding: 0.2em 0.5em;
    background: #323741;
    border: 1px #363a43 solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    color: #9fa5b5;
    position: absolute;
    border-radius: 0.5em;
    top: 3am;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.2s;
    display: none;
    z-index: 1;

}







.menu li{

    padding: 0.7em 0.5em ;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;

    
}
.menuTwo li{

    padding: 0.7em 0.5em ;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;

    
}

.menu li:hover{
    background: #2a2d35;
}
.menuTwo li:hover{
    background: #2a2d35;
}

.active{

    background: #23242a;

}

.menu-open{
    display: block;
    opacity: 1;
}
.results{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #23242a;
}
.results p {
    margin: 0;
    color: #23242a;
}
.radioBtn2{
    margin-top: 0;
}


/* modal */

body {
    /* align-items: center; */
    /* background: #F1EEF1; really ood color */
    /* display: flex; */
    /* font-family: sans-serif; */
    /* justify-content: center; */
    /* height: 100vh; */
    /* margin: 0; */
  }
  .containerModal {
    z-index: -1;
    align-items: center;
    /* background-color: red; */
     display: flex;
     position: absolute;
     margin-top: 10vh;
    /* height: 360px; */
    height: 80vh;
    justify-content: center;
    /* width: 360px; */
    width: 80vh;
  }
  .email {
    opacity: 0;
    background: #DEDBDF;
    border-radius: 16px;
    height: 32px;
    overflow: hidden;
    position: relative;
    width: 162px;
    -webkit-tap-highlight-color: transparent;
    transition: width 300ms cubic-bezier(0.4, 0.0, 0.2, 1),
      height 300ms cubic-bezier(0.4, 0.0, 0.2, 1),
      box-shadow 300ms cubic-bezier(0.4, 0.0, 0.2, 1),
      border-radius 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
  }
  .from {
    position: absolute;
    transition: opacity 200ms 100ms cubic-bezier(0.0, 0.0, 0.2, 1);
  }
  .from-contents {
    display: flex;
    flex-direction: row;
    transform-origin: 0 0;
    transition: transform 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
  }
  .to {
    opacity: 0;
    /* background-color: red; */
    position: absolute;
    transition: opacity 100ms cubic-bezier(0.4, 0.0, 1, 1);
  }
  .to-contents {
    transform: scale(.55);
    transform-origin: 0 0;
    transition: transform 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
  }
  .top {
    background: #9f7ce5;
    display: flex;
    flex-direction: row;
    height: 60px;
    transition: height 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
    width: 100%;
  }
  .name-large {
    color: #efd8ef;
    font-size: 16px;
    line-height: 60px;
    margin-left: 20px;
    /* margin-left: auto; */
  }
  .x-touch {
    align-items: center;
    align-self: center;
    cursor: pointer;
    display: flex;
    height: 50px;
    justify-content: center;
    margin-left: auto;
    width: 50px;
  }
  .x {
    background: #efd8ef;
    border-radius: 10px;
    height: 20px;
    position: relative;
    width: 20px;
  }
  .x-touch:hover .x {
    background: #CB9AFB;
  }
  .line1 {
    background: #6422EB;
    height: 12px;
    position: absolute;
    transform: translateX(9px) translateY(4px) rotate(45deg);
    width: 2px;
  }
  .line2 {
    background: #6422EB;
    height: 12px;
    position: absolute;
    transform: translateX(9px) translateY(4px) rotate(-45deg);
    width: 2px;
  }
  .bottom {
    background: #FFF;
    color:  #444247;
    font-size: 14px;
    height: 300px;
    padding-top: 5px;
    width: 357px;
  }
  .email.expand {
    opacity: 1;
    border-radius: 29px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.10), 0 6px 6px rgba(0,0,0,0.16);
    height: 500px;
    width: 500px;
  }
  .expand .from {
    opacity: 0;
    transition: opacity 100ms cubic-bezier(0.4, 0.0, 1, 1);
  }
  .expand .from-contents {
    transform: scale(1.91);
  }
  .expand .to {
    opacity: 1;
    transition: opacity 200ms 100ms cubic-bezier(0.0, 0.0, 0.2, 1);
  }
  .expand .to-contents {
    transform: scale(1.4);
  }
@keyframes outline-checked {
    0% {
        outline-offset: 0;
    }

    100% {
        outline-offset: -0.2rem;
    }
}




