.main{
    margin-top: 20vh;
    width: 90%;
    margin-left: 5%;
}
.blog{
    display: flex;
    margin-bottom: 5vh;
}
.blog img{
    width:  300px;
    height: 200px;
    object-fit: cover;
}
.blogContent{
    margin-left: 5vh;
}

.blogContent h2{
    color: #fff;
    font-weight: 500;
    font-size: 26px;
}
.blogContent p{
    font-size: 18px;
}